<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Review Your Application</title>
  <link rel="stylesheet" href="../../static/base.css" />
  <link rel="stylesheet" href="../../static/pages/volunteer_application_review.css" />
</head>
<body>
  <nav>
    <div class="nav-title">Volunteer Matcher</div>
    <div class="nav-login" id="navLinks"></div>
  </nav>

  <div class="container">
    <h1>Application Details</h1>

    <section id="listingInfo" class="card"></section>
    <section id="applicationAnswers" class="card"></section>
    <section id="actions" class="card"></section>

  </div>

  <script type="module" src="../../lib/applications/volunteer_applicant_review.js"></script>
</body>
</html>